*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
*.class
*.apk
bin/
gen/
.settings/
proguard/
/local.properties
.DS_Store # only needed under mac os
.idea
*.apk #optional